<!DOCTYPE html>
<html>
<head>
<style>
@font-face {
    font-family: "font_raleway";           
    src: local("Vladimir"), url("/app-assets/fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: normal;			            
    font-style: bold;			            
}        
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#wrapper {
    height: 100%;
    position: relative;
}

.h1_1   { position: relative; top: 320px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%,-33.33%); }
.h1_2   { position: absolute; top: 320px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%, -33.33%); }
.h1_3   { position: absolute; top: 320px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%, -33.33%); }
.h1_4   { position: absolute; top: 790px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%, -33.33%); }
.h1_5   { position: absolute; top: 790px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%, -33.33%); }
.h1_6   { position: absolute; top: 790px; left: 33.33%; font-family: "font_raleway"; font-size: 19pt; margin-right: -33.33%; transform: translate(-33.33%, -33.33%); }

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media print {
    .new-page {
      page-break-before: always;
    }
  }
</style>

</head>
<body>
  {% for chunk in users %}
    <div id="wrapper">
      <div class="row">
        {% for i,user in chunk|slice(0,3) %}    
          <div class="column">            
            <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ app_uploads_path ~ '/' ~ app_media_path ~ '/' ~ mediaCredential.media }}" style="width:100%;">
            {% set j = i + 1 %}
            <h1 class="h1_{{j}}"><span>{{user.username ~ user.usersurname}}</h1>
          </div>	  
        {% endfor %}
      </div>
      <div class="row">
        {% for i,user in chunk|slice(3,3) %}    
          <div class="column">            
            <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ app_uploads_path ~ '/' ~ app_media_path ~ '/' ~ mediaCredential.media }}" style="width:100%;">
            {% set j = i + 4 %}
            <h1 class="h1_{{j}}"><span>{{user.username ~ user.usersurname}}</h1>
          </div>	  
        {% endfor %}  
      </div>
      <div style="clear:both;"></div>
    </div>
  {% endfor %}
</body>
</html>
